<html>
  <head><title>Super Hocky Sports Time Deluxe!!</title></head>
  <body>

    <h1>Super Hocky Sports Time Deluxe!!</h1>

    <p> Welcome to our hyper professional hockey stat page, eh!</p>

    <p> We used the NHL stats from the 2012 - 2013 to to 2017 - 2018 seasons to
    generate our stats.</p>

    <ul>
        <li>The highest total scoring game on record had
        <%= @stat_tracker.highest_total_score %> goals.</li>
        <li>The lowest total scoring game on record had
        <%= @stat_tracker.lowest_total_score %> goals.</li>
        <li>The biggest blowout was by <%= @stat_tracker.biggest_blowout %>
        goals.</li>
        <li>The percentage of home team wins was
        <%= @stat_tracker.percentage_home_wins %> overall.</li>
        <li>The percentage of visitor team wins was 
        <%= @stat_tracker.percentage_visitor_wins %> overall.</li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    </p>

  </body>
</html>
