body
  {background: transparent url("/img/bg.png") repeat fixed 0 0}

.readable {background: white}

.title {
color: #FFF;
background-color: #232323;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
text-align: center
}

#margins {margin: auto; width: 70%; background: white}

#content
{ font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

.navBar
{ list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav
{ float: left;
  display: inline-block;
}

.nav:hover
{

}

#teamBar
{ padding-right: 5px;
  padding-left: 5px;
  background: white;
  float: left;
  margin-right: 20px
}

#teamStats
{ background: white;
  margin-top: 20px;
}

.centerText {text-align: center}
.mainText {padding-bottom: 0px}
.smallText {font-size: 10px; padding-top: 0px; padding-bottom: 10px}

.button
{ text-decoration: none;
  color: black;
  padding: 14px 16px;
  text-align: center;
}
.button:hover {animation: rainbow 2s linear 0s infinite;}

.sideButton {}

@keyframes rainbow
{ 0% {color: rgb(255,0,0)}
  16.6% {color: rgb(255,0,255)}
  33.3% {color: rgb(0,0,255)}
  50% {color: rgb(0,255,255)}
  66.6% {color: rgb(0,255,0)}
  83.3% {color: rgb(255,255,0)}
  100% {color: rgb(255,0,0)}
}

}
.clearfix:after
{ content: "";
  display: table;
  clear: both;
}